<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Sriram Ramachandrasekaran, from Chennai, India. Apart from writing code to foot my bills, I do it to get some adrenaline going. I started leaning towards code just around the time I graduated and started loving it. I love to observe, apply & validate those observations in my life. I currently ship code at <a class="indix" href="https://www.indix.com">Indix</a>.</p> <br/> <br/>
    <p class="lead">
     If you want to discuss building data pipelines / platforms (batch or stream), scaling infrastructure, CI / CD, AWS cost optimization, Managing & Productionizing ML models - you can reach out to me @ <a href="mailto:srirams85@gmail.com">here</a>. I'm on the <a href="https://www.timeanddate.com/time/zones/ist"> IST (UTC+5.30) </a> timezone and generally respond within 12 to 24 hours.
    </p>
  </div>
</section>
